@page
@model DailySpark.FinalProject.Pages.ContactModel
@{
    ViewData["Title"] = "Contact page";
}
<h1>@ViewData["Title"]</h1>

<div class="container text-center mt-5">
    <div class="card d-inline-block shadow-lg" style="width: 25rem;">
        <div class="text-center">
            <h1 class="display-4">Contact Info</h1>
            <p>Created by: Andrew Young</p> <!--Added to identify creator-->
        </div>
    </div>
</div>
